/* Βασική επαναφορά */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

/* Header */
header {
    background-color: #004080;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Μενού Πλοήγησης */
nav {
    background-color: #333;
    padding: 10px;
    text-align: center; /* Στοίχιση */
}

nav ul {
    list-style-type: none; 
}

nav li {
    display: inline-block;
    margin-right: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

nav a:hover, nav a.active {
    background-color: #555;
    border-radius: 5px;
}

main {
    padding: 20px;
    text-align: center;
}

.welcome-text {
    margin-bottom: 30px;
}

.cards-container {
    margin: 0 auto;
    width: 90%;
}

.card {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    display: inline-block; 
    width: 40%; 
    vertical-align: top; 
}

.card h3 {
    color: #004080;
    margin-bottom: 10px;
}

/* Κουμπιά */
.btn {
    display: inline-block;
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 15px;
}

.btn:hover {
    background-color: #218838;
}

/* Υποσέλιδο */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
